#gradient { 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d30404+0,000000+75 */
	background: #d30404; /* Old browsers */
	background: -moz-radial-gradient(top, ellipse cover, #d30404 0%, #34155B 75%); /* FF3.6-15 */
	background: -webkit-radial-gradient(top, ellipse cover, #d30404 0%,#34155B 75%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at top, #d30404 0%,#34155B 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d30404', endColorstr='#34155B',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	opacity: 0;

}

@keyframes fadeIn {
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
	}
}

@keyframes fadeInOut {
	0% {
	opacity: 0;
	}
	50% {
	opacity: 1;
	}
	100% {
	opacity: 0;
	}
}

#owner {
	position: relative;
	top: 45%;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.6vw;
	font-weight: bold;
	width: 90%;
	padding-left: 15%;
	color: #F4F4F4;
/*	border:1px solid white; */
	animation-name: fadeIn;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}

#owner-position {
	opacity: 0;
	position: relative;
	top: 45%;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1vw;
	width: 90%;
	padding-left: 15.3%;
	color: #F4F4F4;
	animation-name: fadeIn;
	animation-duration: 5s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

#owner-position-2 {
	opacity: 0;
	position: relative;
	top: 45%;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1vw;
	width: 90%;
	padding-left: 15.3%;
	color: #F4F4F4;
	animation-name: fadeIn;
	animation-duration: 5s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

#title {
	opacity: 0;
	position: relative;
	top: 45%;
	font-family: 'Oswald', sans-serif;
	font-size: 3vw;
	width: 90%;
	padding-left: 15%;
	color: #F4F4F4;
/*	border:1px solid white; */
	animation-name: fadeIn;
	animation-duration: 5s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

#contacts {
	opacity: 0;
	position: relative;
	top: 50%;
	font-family: 'Oswald', sans-serif;
	font-size: 1vw;
	font-style: italic;
	width: 90%;
	padding-left: 15%;
	color: #F4F4F4;
	animation-name: fadeInOut;
	animation-duration: 8s;
	animation-delay: 4s;
	animation-iteration-count: infinite;
}

#mood {
	background-color: #000000;
	border-radius: 12px;
	padding: 10px 24px;
	display: inline-block;
	opacity: 0;
	position: relative;
	left: 40%;
	top: 60%;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.5vw;
	font-style: italic;
	width: 28%;
	color: #F4F4F4;
	animation-name: fadeIn;
	animation-duration: 5s;
	animation-delay: 6s;
	animation-fill-mode: forwards;
}

#vertical {
	position: relative;
	top: 50%;
	transform: translate(0%, -60%);
	width: 90%;
	height: 100%;
}

body {
	top:0;
	left:0;
	margin:0;
	padding:0;
	background-color: #34155B;
}